<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>CopyOnWriteArrayList学习总结.md</key>
			<dict>
				<key>lastModification</key>
				<real>523534737.42522401</real>
				<key>version</key>
				<dict>
					<key>a1bbe89b308274fa41d306ca005e6293c34a9a4f967741b22db76fbc0d14c9db</key>
					<integer>5</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>CopyOnWriteArrayList学习总结.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>a1bbe89b308274fa41d306ca005e6293c34a9a4f967741b22db76fbc0d14c9db</key>
			<integer>6</integer>
		</dict>
	</dict>
</dict>
</plist>
